<style>
    .btn {
  appearance: none;
    -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 200px;
  border-radius: 5px;
  border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}

.btn:focus, .btn.focus {
  outline: 0;
}
.call-to-action-description{
    font-size: 24px;
}

.btn-primary {
  background: #3498db;
  color: #ffffff;
  text-align: center;
}

.btn-primary:hover {
  background: #2980b9;
  color: #ffffff;
}
.call-to-action-img{
    width: 300px;
    height: auto;
}
</style>

{% if page.callouts %}
    {% assign callouts=site.data.[page.callouts] %}
    <section class="hero {% if callouts.height %} {{ callouts.height }} {% else %} is-medium {% endif %} {{ callouts.style }}">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered">
                    {% for callout in callouts.items %}
                        <div class="column is-4 has-text-centered">
                            {% if callout.icon %}
                            <div class="icon callout-icon">
                            {% if callout.icon_brand %}
                                <i class="fa {{ callout.icon }} fa-4x"></i>
                            {% else %}
                                <i class="fas {{ callout.icon }} fa-4x"></i>
                            {% else %}
                                <i class="fa-solid {{ callout.icon }} fa-4x"></i>
                            {% endif %}
                            </div>
                            {% endif %}
                            <p class="title is-5">{{ callout.title }}</p>
                            <p class="subtitle is-5">{{ callout.subtitle }}</p>
                            
                            {% if callout.description %}
                            <div class="content">
                                <p>{{ callout.description | newline_to_br }}</p>
                            </div>
                            {% endif %}

                            {% if callout.call_to_action_name %}
                            <a href="{{ callout.call_to_action_link | relative_url }}" class="button is-primary">
                                {{ callout.call_to_action_name }}
                            </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <center>
                        <br>
                        <br>
                        <br>
                        <button class="btn btn-primary" style="font-size: 17px;"><a href="#">Learn more <span style="font-size: 15px !important; margin-top: px !important; margin-left: 20px;" >    >></a></span></button>
                    </center>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
<div>
    <h3 class="call-to-action-description">Available for Android devices</h3>
    <br>
    <button class="btn btn-primary" style="font-size: 17px;">Learn more<span style="font-size: 15px !important; margin-left: 20px;">    >></span></button>

    <img class="call-to-action-img" src="./img/11512346_12243.jpg" alt="">

</div>
        </div>
    </section>
{% endif %}

