<style>
       @media screen and (max-width: 480px) {
        .call-to-action-button{
    width: 50px !important;
    height: 40px  !important;
}
.column{
    padding-bottom: 0px !important;
}
.call-to-action-flex{
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
}
.call-to-action-playstore{
    margin-top: -15px  !important;
}
.call-to-action-description{
    font-size: 20px !important;
}
 .is-4{
    padding-top: 20px;
 }   
}
@media screen and (max-width: 450px) {
        .call-to-action-button{
    width: 50px !important;
    height: 40px  !important;
}
.column{
    padding-bottom: 0px !important;
}
.call-to-action-flex{
    /* display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    padding-left: -17px !important; */

    display: flex;
      flex-direction: column;
      justify-content: center;
      column-gap: 20px;
      justify-content: center;
      margin-bottom: 50px !important;
}
.call-to-action-playstore{
    margin-top: -15px  !important;
}
.call-to-action-description{
    font-size: 18px !important;
}
 .is-4{
    padding-top: 20px;
 }   
}
    .btn {
  appearance: none;
    -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 200px;
  border-radius: 5px;
  border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}

.btn:focus, .btn.focus {
  outline: 0;
}
.call-to-action-description{
    font-size: 26px;
    margin-bottom: 15px;
    margin-left: -3rem;
    margin-right: -3rem;
}

.btn-primary {
  color: #{{site.background-color}};
  text-align: center;
  border: 1px solid #{{site.background-color}};
}
.call-to-action-button{
    width: 200px;
    height: 40px;
    margin-bottom: 20px !important;
}

.btn-primary:hover {
  background: #95c9f0;
  color: #ffffff;
}
.call-to-action-img{
    width: 300px;
    height: auto;
}

@media screen and (min-width: 1000px) {
    .call-to-action-flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-left: 22px;

}
}
.call-to-action-playstore{
    margin-top: 0px;
    width: 180px !important;
   height: 80px !important;
}
.fa, .fas, .fa-solid{
    color: #{{site.background-color}};
}
.call-to-action-appstore{
   width: 137px !important;
   height: 80px !important;
}
.hero.is-light {
    background-color: #ffffff !important;
    color: rgba(0,0,0,.7);
}
.section {
  padding: 0rem !important;
}
.is-12{
    padding: 0px;
}
.callout-icon {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
    .subtitle {
        margin-bottom: 20px;
    }
    .hero.is-medium .hero-body {
        padding-top: 0 !important;
        padding-bottom: 5rem !important;
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
    .hero-text {
        padding-left: 1.5rem;
    }
}
.hero-line {
    padding-bottom: 50px;
}
</style>

{% if page.callouts %}
    {% assign callouts=site.data.[page.callouts] %}
    <section class="hero {% if callouts.height %} {{ callouts.height }} {% else %} is-medium {% endif %} {{ callouts.style }}">
        <div class="hero-body">
            <center>
                <h3 class="hero-line call-to-action-description">Discover the app that offers the quickest and most practical way to log and track your expenses</h3>
            </center>
            <div class="container">
                <div class="columns is-multiline is-centered">
                    {% for callout in callouts.items %}
                        <div class="column is-4 has-text-centered">
                            {% if callout.icon %}
                            <div class="icon callout-icon">
                            {% if callout.icon_brand %}
                                <i class="fa {{ callout.icon }} fa-4x"></i>
                            {% else %}
                                <i class="fas {{ callout.icon }} fa-4x"></i>
                            {% else %}
                                <i class="fa-solid {{ callout.icon }} fa-4x"></i>
                            {% endif %}
                            </div>
                            {% endif %}
                            <p class="title is-5">{{ callout.title }}</p>
                            <p class="subtitle is-5">{{ callout.subtitle }}</p>
                            
                            {% if callout.description %}
                            <div class="content">
                                <p>{{ callout.description | newline_to_br }}</p>
                            </div>
                            {% endif %}

                            {% if callout.call_to_action_name %}
                            <a href="{{ callout.call_to_action_link | relative_url }}" class="button is-primary">
                                {{ callout.call_to_action_name }}
                            </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <center>
                        <br>
                        <br> 
                        <!-- <a href="{{site.baseurl}}/features/"> <button class="btn btn-primary call-to-action-button" style="font-size: 17px; background-color: #31668F; color: #fff;">Learn more</button></a>  -->
                        <a class="btn btn-primary call-to-action-button" href="{{site.baseurl}}/features/" style="font-size: 17px; background-color: #31668F; color: #fff; padding: 10px 50px;"> Learn more</a> 
                    </center>
                </div>
            </div>
            <br>
            <br>
<center>
    
    <h3 class="call-to-action-description">Download now on your mobile device!</h3>
    <br>
    <div class="call-to-action-flex">
        <a href="https://play.google.com/store/apps/details?id=com.flowdevelopers.nextexpense&hl=en&gl=US"><img class="call-to-action-playstore" src="{{site.baseurl}}/img/Google_Play-Badge-Logo.wine.svg" alt=""></a>    
        
        <a href="#"> <img class="call-to-action-appstore" src="{{site.baseurl}}/img/aivalable-on-the-app-store-2.svg" alt=""></a>        
    </div>
  
        </div>
    </section>
    {% endif %}
  </center>
  <script>
  // Post function :: Start
function post(path, params, method='post') {

  // The rest of this code assumes you are not using a library.
  // It can be made less verbose if you use one.
  const form = document.createElement('form');
  form.method = method;
  form.action = path;

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}
  // Post function end
  
  $(function() {
      $('.call-to-action-appstore').click(function(e) {
          e.preventDefault();
          
    const { value: email } = Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'iOS app is currently under development. Provide your email address to get early access when it\'s available.',
    showCloseButton: true,
    confirmButtonText: "Notify Me",
    confirmButtonColor: "#31668F",
    input: 'email',
    inputPlaceholder: 'Enter your email address here',
    // html: `<form action='verify.php' method='post'>
    //             <input id="swal2-input" class="swal2-input" placeholder="Enter your email address here" type="email" style="display: flex;">
    //         </form>`
  
  }).then((result) => {
    console.log(result)
    /* Read more about isConfirmed, isDenied below */
    if (result.isConfirmed) {
        //alert(result.value)
        post('https://formspree.io/f/mdorgygg', {email: result.value}); 
        Swal.fire('Email Saved!', '', 'success')
    } else if (result.isDenied) {
        Swal.fire('Email not saved', '', 'info')
    }
    })
   
      });
      
      $(document).on('click', '#some-action', function(e) {
          e.preventDefault();
          
      });
  });
  </script>