
<style>
    @media screen and (max-width: 480px)   {
      .header-logo{
    max-height:45px !important;
    margin-right:200px;
  }
      .navbar-burger {
  color: #4a4a4a;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 3px;
  color:  #{{site.background-color}} !important;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 25px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

}
  @media screen and (max-width: 450px) {
    .header-logo{
    max-height: 40px !important;
    margin-right:200px ;
  }
    .navbar-burger {
  color: #4a4a4a;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 3px;
  color:  #{{site.background-color}} !important;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 25px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
  }
  .header-logo{
    max-height: 45px !important;
    margin-right:200px ;
  }
  /* Fixed navbar to top */
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #31668F;
}
section.hero {
  padding-top: 62px;
}
/* Currency Selector Section */
.currency-container {
  align-self: center;
}
#currency-select {
  background-color: #31668f;
  color: white;
  height: 25px;
  border-radius: 3px;
  padding: 0 10px;
}
@media screen and (max-width: 1023px) {
  .currency-container {
    text-align: center;
    position: absolute;
    top: 16px;
    right: 50px;
  }
}
</style>

<nav class="navbar  {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}" x-data="{ openNav: false }">
  <div class="container">
      <div class="navbar-brand">
          <a href="{{ site.baseurl }}/" class="navbar-item">
            <img class="header-logo" src="{{site.baseurl}}/{{site.logo}}" alt="Logo">
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu" :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </a>
      </div>
      <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
          <div class="navbar-start">
              <a href="{{ site.baseurl }}/" class="navbar-item {% if page.url == "/" %}is-active{% endif %}">Home</a>
              {% if site.data.navigation %}
              {% for item in site.data.navigation %}
                  {% if item.dropdown %}
                  <div class="navbar-item has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %}">
                      <a href="{{ item.link | relative_url }}" class="navbar-link {% if page.url contains item.link %}is-active{% endif %}">{{ item.name }}</a>
                      <div class="navbar-dropdown">
                          {% for subitem in item.dropdown %}
                          <a href="{{ subitem.link | relative_url }}" class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a>
                          {% endfor %}
                      </div>
                  </div>
                  {% else %}
                  <a href="{{ item.link | relative_url }}" class="navbar-item {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                  {% endif %}
              {% endfor %}
              {% endif %}
          </div>

     
      </div>
      <div class="currency-container" style="display: none;">
        <span class="fw-bold">
          Currency
        </span>
        <span class="currency-dropdown">
          <select id="currency-select">
            <option value="1">AUD</option>
            <option value="2">CAD</option>
            <option value="3">GBP</option>
            <option value="4" selected>USD</option>
          </select>
        </span>
      </div>
  </div>
</nav>