
<style>
     @media screen and (max-width: 480px) {
        .android-hero{
          display: none;
    }
    #companion{
      margin-left: 0px;
    }
    .is-2{
  font-size: 17px !important;
  margin-left: -45px !important;
  margin-top: -20px !important;
}
.is-3{
  font-size: 15px !important;
  margin-left: -48px !important;
  margin-top: 0px !important;
}
}
.hero-title{
  display: flex;
  flex-direction: row;
  gap: 50px !important;
}
.android-hero{
  width: 250px;
  height: auto;
  margin-left: 100px;
  border: 5px solid black;
  border-radius: 20px;
}
.hero.is-primary.is-bold {
  background-image: linear-gradient(231deg, #102627 0%, #3b79ae 90%, #1686c8 100%);
}
.is-2{
  margin-left: 50px;
  margin-top: 50px;
}
.is-3{
  margin-left: 45px;
  margin-top: 30px;
}
  .hero-text{
    display: flex;
    flex-direction: column;
  }
@media screen and (max-width: 480px) {
  .android-hero{
    display: none;
    margin-left: 0;
  }
  .hero-title {
    flex-direction: column-reverse;
  }
  .is-2 {
    margin-top: 50px !important;
  }
  .mobile-image {
    margin: 0 auto;
    max-width: 100%;
    width: 220px;
  }
}
</style>

<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container hero-title">
          <img class="android-hero mobile-image" src="{{site.baseurl}}/img/{{page.header_image}}" alt="android phone">
          <div class="hero-text">
            <h1 class="title is-2">{{page.title}}</h1>
          <h1 class="title is-3" id="companion"></h1>
          </div>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>

    </div>
</section>

<script>

let animatedText = true;

if(animatedText){
  new TypeIt("#companion", {
  speed: 50,
  waitUntilVisible: true,
})
  
  .type("<em> {{page.subtitle}}</em>")
  .go();
}

else {
  let subText = document.getElementById("companion");
  subText.innerHTML = "<em> {{page.subtitle}}</em>";
}

</script>