---
layout: default
---

{{ content }}

<div class="columns is-multiline">
    
</div>

<style>
  /* Google Font CDN Link */
  
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.container-1{
  margin: 70px 0px 70px 0px;
}
.container-contact {
  max-width: 100%;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 64px 60px 64px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container-contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-contact .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 22px;
  text-align: center;
  
}
.content .left-side .details i {
  font-size: 30px;
  color: #{{site.background-color}};
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container-contact .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #{{site.background-color}};
}
.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
input:focus, textarea:focus{
  background-color: rgb(187, 224, 255) !important ;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button-1 {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button-1 input[type="submit"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #{{site.background-color}};
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-1 input[type="submit"]:hover {
  background: #427fad;
}

@media (max-width: 950px) {
  .container-contact {
    width: 100%;
    padding: 30px 40px 40px 35px;
  }
  .container-contact .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container-contact {
    margin: 40px 0;
    height: 100%;
  }
  .container-contact .content {
    flex-direction: column-reverse;
  }
  .container-contact .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-contact .content .left-side::before {
    display: none;
  }
  .container-contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* /// */

</style>
  <body>
    <div class="container-1">
      <div class="container-contact">
        <div class="content">
          <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic">Address</div>
              <div class="text-one">{{site.address-1}}</div>
              <div class="text-two">{{site.address-2}}</div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">{{site.email}}</div>
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Send us a message</div>
            <p>Fill out the form below, and one of our team members will reply to you shortly. </p>
            <form  action="https://formspree.io/f/xdovqwrl"
            method="POST"  enctype="multipart/form-data">
              <div class="input-box">
                <input type="text" name="name" placeholder="Enter your name" required/>
              </div>
              <div class="input-box">
                <input type="text" name="email" placeholder="Enter your email" required />
              </div>
              <div class="input-box message-box">
                <textarea name="message" placeholder="Enter your message" required></textarea>
              </div>
              <div class="button-1">
                <input type="submit" value="Send Now" />
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
