---
layout: default
---

{{ content }}

<div class="columns is-multiline">

</div>
<style>


    @media screen and (max-width: 480px) {
        .featured-content {
            display: flex;
            flex-direction: column !important;
            justify-content: center;
            margin-top: 50px;
            margin-left: 10px;
        }

        .fas {
            margin-top: 30px;
        }

        .call-to-action-description {
            font-size: 20px;
        }

        .featured-header {
            text-decoration: none !important;
            font-size: 20px;
        }

        .icon-text {
            font-size: 20px;
            margin-left: 20px;
            font-weight: bold;
            margin-top: 30px;
            color: black !important;
            font-family: sans-serif;
        }

        .featured-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 80px;
            margin: 30px 20px 0px 20px !important;
        }
    }

    .featured-header {
        font-size: 28px;
        font-weight: bolder;
        margin-top: 80px;
    }

    .featured-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        column-gap: 20px;
        margin-left: 00px;
        margin-top: 60px;
    }
    .featured-content-1{
         display: flex;
        flex-direction: column;
        flex: 50%;
        text-align: left;
    }
    .featured-content-2 {
        display: flex;
        flex-direction: column;
        flex: 50%;
    }
   
    .featured-header-flex {
        display: flex;
        flex-direction: row;
    }

    .fas{
        font-size: 30px;
        border-radius: 5px;
        padding: 10px !important;
        color: white;
        background-color: #{{site.background-color}};
    }


    .icon-text {
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 5px;
        font-weight: bold;
        color: black !important;
        font-family: sans-serif;
    }

    .featured-content-3-dollar{
        margin-left: 70px;
        /* text-align: left;
        position: relative; */
    }

    .featured-content-3,
    .featured-content-4 {
        margin-left: 70px;
        margin-top: -10px;
        text-align: left;
    }

    .call-to-action-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
        margin-bottom: 50px;
    }

    .call-to-action-description {
        margin-top: -45px !important;
    }
    /* mseriesco */
    .icon-img {
        width: 52.25px;
        height: 50px;
        text-align: center;
    }
    .text-div {
        text-align: left;
        margin-left: 20px;
    }
    /* hide mobile image */
    .mobile-image {
        display: none;
    }
    .column.is-12 center {
        padding-top: 2.5rem;
    }
    center div.call-to-action-flex {
        margin-bottom: 70px;
    }
</style>
<center>
    <!-- <h1 class="featured-header">What is Next Expense?</h1>  -->
    <!-- First column -->
    <div class="featured-content">

        <div class="featured-content-1">
            <!-- First column first row -->
            <div class="featured-header-flex">
                <div class="">
                    <i class="icon-img fas fa-file-invoice-dollar"></i>
                </div>
                <div class="text-div">
                    <span class="icon-text">Receipt Scanner</span>
                    <p>Capture and digitize your receipts instantly to save you time, effort, and space with just one click.</p>
                </div>
            </div>
        </div>

        <div class="featured-content-2">
            <!-- second column first row -->
            <div class="featured-header-flex">
                <div class="">
                    <i class="icon-img fas fa-hand-holding-usd"></i>
                </div>
                <div class="text-div">
                    <span class="icon-text">Expense Log</span>
                    <p>Easily log your receipts, per diems, hours worked, and distance traveled. We are the first app to provide these four features at once! </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Second column -->
    <div class="featured-content">

        <div class="featured-content-1">
            <!-- third column first row -->
            <div class="featured-header-flex">
                <div class="">
                    <i class="icon-img fas fa-hand-holding-usd"></i>
                </div>
                <div class="text-div">
                    <span class="icon-text">Expense Tracker</span>
                    <p>Conveniently track and manage all sorts of expenses in one place, complete with historical data and detailed breakdowns.</p>
                </div>
            </div>
        </div>


        <div class="featured-content-2">
            <!-- First column second row -->
            <div class="featured-header-flex">
                <div class="">
                    <i class="icon-img fas fa-share-alt-square"></i>
                </div>
                <div class="text-div">
                    <span class="icon-text">Report Sharing</span>
                    <p>Build and customize professional expense reports effortlessly to share with relevant people from your mobile device.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Third column -->
    <div class="featured-content">

        <div class="featured-content-1">
            <!-- First column second row -->
            <div class="featured-header-flex">
                <div class="">
                    <i class="icon-img fas fa-user-cog"></i>
                </div>
                <div class="text-div">
                    <span class="icon-text">Ease of Use</span>
                    <p>Increase efficiency, improve organization, and reduce manual input with our easy-to-use interface to log and manage expenses.</p>
                </div>
            </div>
        </div>

        <div class="featured-content-2">
            <!-- second column second row -->
            <div class="featured-header-flex">
                <div class="">
                    <i class="icon-img fas fa-shield-alt"></i>
                </div>
                <div class="text-div">
                    <span class="icon-text">Security</span>
                    <p>We ensure the confidentiality and security of all your data, including expense records and reports, shielding it from any third-party access.</p>
                </div>
            </div>
        </div>

    </div>
</center>
<br>
<br>
<br>
<br>

<center>

    <h3 class="call-to-action-description">Download now on your mobile device!</h3>
    <br>
    <div class="call-to-action-flex">
        <a href="https://play.google.com/store/apps/details?id=com.flowdevelopers.nextexpense&hl=en&gl=US"><img
                class="call-to-action-playstore" src="{{site.baseurl}}/img/Google_Play-Badge-Logo.wine.svg" alt=""></a>
        <a href="#"> <img class="call-to-action-appstore" src="{{site.baseurl}}/img/aivalable-on-the-app-store-2.svg"
                alt=""></a>

    </div>

    </div>
    </section>

</center>
<script>


    $(function () {
        $('.call-to-action-appstore').click(function (e) {
            e.preventDefault();

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'App currently under development for IOs. For more information, please contact us.',

            })


        });

        $(document).on('click', '#some-action', function (e) {
            e.preventDefault();

        });
    });
</script>


