---
layout: default
---

{{ content }}

<div class="columns is-multiline">
    
</div>
<style>
    @media screen and (max-width: 480px) {
        .featured-content{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        margin-top: 50px;
    }
    .fas{
        margin-top: 30px;
    }
    .call-to-action-description{
        font-size: 20px;
    }
    .featured-header{
        text-decoration: none !important;
        font-size: 20px;
    }

    }
    .featured-header{ 
        font-size:28px;
        font-weight: bolder;
        text-decoration: underline;
    }
    .featured-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 80px;
        margin-top: 50px;
    }
    .featured-content-1, .featured-content-2{
        display: flex;
        flex-direction: column;
    }
    .featured-content-3, .featured-content-4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .featured-header-flex{
        display: flex;
        flex-direction: row;
    }
    .fas{
        font-size: 40px;
        color: #{{site.background-color}};
    }
    .icon-text{
        font-size: 20px;
        margin-left: 20px;
        color: black !important ;
        font-family: sans-serif;
    }
    .featured-content-3, .featured-content-4{
        margin-left: 40px;
        margin-top: 20px;
    }
    .call-to-action-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}
.call-to-action-playstore{
    
}
</style>
<center>
    <h1 class="featured-header">What is Next Expense?</h1>
    <!-- First column -->
    <div class="featured-content">
        <div class="featured-content-1">
            <!-- First column first row -->
            <div class="featured-header-flex">
                <i class="fas fa-file-invoice-dollar"><span class="icon-text">Receipt Scanner</span></i>
               
            </div>

            <div class="featured-content-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eum libero provident! Necessitatibus eum ullam labore blanditiis eveniet repellendus, tempora recusandae quas est?</p>
               
            </div>
        </div>
        <div class="featured-content-2">
             <!-- First column second row -->
            <div class="featured-header-flex">
                <i class="fas fa-shield-alt"><span class="icon-text">Security</span></i>               
            </div>
            <div class="featured-content-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eum libero provident! Necessitatibus eum ullam labore blanditiis eveniet repellendus, tempora recusandae quas est?</p>
               
            </div>
        </div>
    </div>
    <!-- Second column -->
    <div class="featured-content">
        <div class="featured-content-1">
             <!-- second column first row -->
            <div class="featured-header-flex">
                <i class="fas fa-hand-holding-usd"><span class="icon-text">Expense Tracker</span></i>             
            </div>
            <div class="featured-content-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eum libero provident! Necessitatibus eum ullam labore blanditiis eveniet repellendus, tempora recusandae quas est?</p>
               
            </div>
        </div>
        <div class="featured-content-2">
             <!-- second column second row -->
            <div class="featured-header-flex">
                <i class="fas fa-wrench"><span class="icon-text">Future Upgrade</span></i>               
            </div>
            <div class="featured-content-4">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eum libero provident! Necessitatibus eum ullam labore blanditiis eveniet repellendus, tempora recusandae quas est?</p>
               
            </div>
        </div>
    </div>
    <!-- Third column -->
    <div class="featured-content">
        <div class="featured-content-1">
             <!-- third column first row -->
            <div class="featured-header-flex">
                <i class="fas fa-share-alt-square"><span class="icon-text">Report Sharing</span></i>               
            </div>
            <div class="featured-content-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eum libero provident! Necessitatibus eum ullam labore blanditiis eveniet repellendus, tempora recusandae quas est?</p>
               
            </div>
        </div>
        
        <div class="featured-content-2">
             <!-- First column second row -->
            <div class="featured-header-flex">
                <i class="fas fa-user-cog"><span class="icon-text">Easy to use</span></i>            
            </div>
            <div class="featured-content-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eum libero provident! Necessitatibus eum ullam labore blanditiis eveniet repellendus, tempora recusandae quas est?</p>
               
            </div>
        </div>
    </div>
</center>
<br>
<br>
<br>
<br>

<center>
    
    <h3 class="call-to-action-description">Available for Android devices</h3>
    <br>
    <div class="call-to-action-flex">
        <a href="#"> <img class="call-to-action-appstore" src="{{site.baseurl}}/img/aivalable-on-the-app-store-2.svg" alt=""></a>        
        <a href="#"><img class="call-to-action-playstore" src="{{site.baseurl}}/img/Google_Play-Badge-Logo.wine.svg" alt=""></a>    
    </div>

        </div>
    </section>
</center>