---
layout: default
---

{{ content }}

<div class="columns is-multiline">
    
</div>
<style>
  @media screen and (max-width: 480px){
    .pricing-plan{
      display: flex;
      width: 100% !important;
      height: auto;
      flex-direction: column !important;
      row-gap: 20px;
      justify-content: center;
      margin: 50px 0px 0px 30px !important;
    }
    .call-to-action-description{
      margin-top: 50px;
    }
  }
  .btn-header{
    border: 0px solid white;
    width: 150px;
    height: 30px;
    background-color: #{{site.background-color}};
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: bolder;
  }
  .price-header{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bolder;
  }
  .btn-time{
    flex-direction: row;
    display: flex;
    column-gap: 0px;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid #{{site.background-color}};
    width: 200px;
    border-radius: 8px;
  }
  .btn-color{
    border-radius: 0px;
    width: 100px;
    height: 30px;
    background-color: #{{site.background-color}};
    border: 0px solid #{{site.background-color}};
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .btn-color-1{
    border-radius: 0px;
    width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 0px solid #{{site.background-color}};
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .call-to-action-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}
.call-to-action-playstore{
}
.pricing-plan{
  display: flex;
  flex-direction: row;
  width: 1050px;
  height: auto;
  column-gap: 50px;
  justify-content: center;
  margin: 70px 0px 50px 0px;
}
.start-plan, .pro-plan, .business-plan{
  width: 300px;
  height: 320px;
  border: 1px solid grey;
  border-radius: 5px;
}
.pro-plan{
  border: 2px solid #{{site.background-color}};
}
li::marker{
  color: rgb(158, 157, 157);
  content: "☑";
}
li{
  margin-left: 0px;
}
.buttom-text{
  margin-top: 80px;
  position: fixed;
}
</style>
<center>
  <button class="btn-header">Pricing</button>

  <h1 class="price-header">Change your plan</h1>
<br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi.</p>

  <div class="btn-time">
    <button class="btn-color">Monthly</button>
  <button class="btn-color-1">Annually</button>
  </div>

<div class="pricing-plan">
  <div class="start-plan">
    <p style="margin-left: -205px !important; margin-top: 10px; font-size: 10px;">Start</p>
    <p style="margin-left: -190px !important; font-size: 25px; font-weight: bolder;">Free</p>
    <hr style="margin:5px 30px 0px 30px;">
    <br>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>

      <p class="buttom-text">Lorem ipsum dolor sit amet  </p>
  </div>
  <div class="pro-plan">
    <p style="margin-left: -205px !important; margin-top: 5px; font-size: 10px;">Pro</p>
    <p style="margin-left: -190px !important; font-size: 25px; font-weight: bolder;">$38 <span 
      style="font-size: 15px; font-weight: lighter; margin: 20px 0px 5px 10px !important;">/mo</span></p>
    <hr style="margin:5px 30px 0px 30px;">
    <br>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
    
      <p class="buttom-text-1">Lorem ipsum dolor sit amet  </p>
  </div>
  <div class="business-plan">
    <p style="margin-left: -205px !important; margin-top: 5px; font-size: 10px;">BUSINESS</p>
    <p style="margin-left: -190px !important; font-size: 25px; font-weight: bolder;">$56 <span 
      style="font-size: 15px; font-weight: lighter; margin: 20px 0px 5px 10px !important;">/mo</span></p>
    <hr style="margin:5px 30px 0px 30px;">
    <br>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      
      <p class="buttom-text">Lorem ipsum dolor sit amet  </p>
  </div>
</div>
</center>

<center>
    
  <h3 class="call-to-action-description">Available for Android devices</h3>
  <br>
  <div class="call-to-action-flex">
      <a href="#"> <img class="call-to-action-appstore" src="{{site.baseurl}}/img/aivalable-on-the-app-store-2.svg" alt=""></a>        
      <a href="#"><img class="call-to-action-playstore" src="{{site.baseurl}}/img/Google_Play-Badge-Logo.wine.svg" alt=""></a>    
  </div>

      </div>
  </section>



</center>