---
layout: default
---

{{ content }}

<div class="columns is-multiline">
    
</div>
<style>
  @media screen and (max-width: 480px){
    .pricing-plan{
      display: flex;
      width: 100% !important;
      height: auto;
      flex-direction: column !important;
      row-gap: 20px;
      justify-content: center;
      padding: 0px 20px 0px 70px !important;
    }
    .price-header{
    margin-top: 76px !important;
    font-size: 30px;
    font-weight: bolder;
  }
    .call-to-action-description{
      margin-top: 50px;
    }
    .call-to-action-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 50px !important;
}
  }
  .btn-header{
    border: 0px solid white;
    width: 150px;
    height: 30px;
    background-color: #{{site.background-color}};
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: bolder;
  }
  .price-header{
    margin-top: 50px;
    font-size: 30px;
    font-weight: bolder;
  }
  .btn-time{
    flex-direction: row;
    display: flex;
    column-gap: 0px;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid #{{site.background-color}};
    width: 200px;
    border-radius: 8px;
  }
  .btn-color{
    border-radius: 0px;
    width: 100px;
    height: 30px;
    background-color: #{{site.background-color}};
    border: 0px solid #{{site.background-color}};
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .btn-color-1{
    border-radius: 0px;
    width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 0px solid #{{site.background-color}};
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .call-to-action-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}
.call-to-action-playstore{
}
.pricing-plan{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  column-gap: 50px;
  justify-content: center;
  margin: 70px 0px 50px 0px;
}
.start-plan, .pro-plan, .business-plan{
  width: 300px;
  height: 320px;
  border: 1px solid grey;
  border-radius: 5px
}
.pro-plan{
  border: 2px solid #{{site.background-color}};
}
li::marker{
  color: rgb(158, 157, 157);
  margin-left: 0px;
  visibility: visible !important;
}
li{
  padding-left: 0px !important;
  font-size: 14px !important;
}
.plan-list{
  padding-left: -100px !important;
}

.buttom-text{
  font-size: 10px;
  text-align: left;
  padding: 75px 20px 0px 20px;
  font-weight: bold;
}
.buttom-text-1{
  font-size: 10px;
  text-align: left;
  padding: 52.5px 0px 0px 20px;
  font-weight: bold;
}
.buttom-text-2{
  font-size: 10px;
  text-align: left;
  padding: 30.5px 0px 0px 20px;
  font-weight: bold;
}
.div-popular{
  margin-left: 197px;
  border-bottom-left-radius: 5px;
  background-color: #{{site.background-color}};
  width: 100px;
  height: 25px;

}
.popular{
  color: rgb(255, 255, 255);
  padding-top: 2px;
  font-size: 13px;
}
</style>
<center>


  <h1 class="price-header">Change your plan</h1>
<br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi.</p>


<div class="pricing-plan">
  <div class="start-plan">
    <p style="margin-left: -190px !important; margin-top: 30px; font-size: 13px; font-weight: bold;">Start</p>
    <p style="margin-left: -155px !important; padding-top: 10px; font-size: 30px; font-weight: bolder;">Free</p>
    <hr style="margin:5px 40px 0px 40px;">
    <br>
      <div class="plan-list">
        
          <li>Lorem ipsum dolor, sit amet  </li>
          <li>Lorem ipsum dolor, sit amet  </li>
          <li>Lorem ipsum dolor, sit amet  </li>
        
      </div>

      <p class="buttom-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="pro-plan">
    <div class="div-popular">
      <p class="popular">POPULAR</p>
    </div>
    <p style="margin-left: -200px !important; margin-top: 5px; font-size: 13px; font-weight: bold;">Pro</p>
    <p style="margin-left: -180px !important; padding-top: 10px; font-size: 30px; font-weight: bolder; position: relative;">$38 <span 
      style="font-size: 15px; font-weight: lighter; margin: 12px 0px 5px 10px !important; position: absolute;">/mo</span></p>
    <hr style="margin:5px 40px 0px 40px;">
    <br>
    <div class="plan-list">
        
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
    
  </div>
    
      <p class="buttom-text-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
  </div>
  <div class="business-plan">
    <p style="margin-left: -160px !important; margin-top: 30px; font-size: 13px; font-weight: bold;">BUSINESS</p>
    <p style="margin-left: -185px !important; padding-top: 10px; font-size: 30px; font-weight: bolder; position: relative;">$56 <span 
      style="font-size: 15px; font-weight: lighter; padding: 12px 0px 5px 7px !important; position: absolute;">/mo</span></p>
    <hr style="margin:5px 40px 0px 40px;">
    <br>
      
    <div class="plan-list">
      <ul>
        <li>Lorem ipsum dolor, sit amet  </li> 
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      <li>Lorem ipsum dolor, sit amet  </li>
      </ul>
    
  </div>
      <p class="buttom-text-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
  </div>
</div>
</center>

<center>
    
  <h3 class="call-to-action-description">Available for Android devices</h3>
  <br>
  <div class="call-to-action-flex">
      <a href="#"> <img class="call-to-action-appstore" src="{{site.baseurl}}/img/aivalable-on-the-app-store-2.svg" alt=""></a>        
      
      <a href="https://play.google.com/store/apps/details?id=com.flowdevelopers.nextexpense&hl=en&gl=US"><img class="call-to-action-playstore" src="{{site.baseurl}}/img/Google_Play-Badge-Logo.wine.svg" alt=""></a>    
  </div>

      </div>
  </section>

</center>
<script>


$(function() {
    $('.call-to-action-appstore').click(function(e) {
        e.preventDefault();
        
        Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'This app is currently  unavailable on IOs',

})

       
    });
    
    $(document).on('click', '#some-action', function(e) {
        e.preventDefault();
        
    });
});
</script>